### WAP to find the factorial of a number

In [1]:
n = 5
f = 1

while n >= 1:
    f *= n
    n -= 1

print(f)

120

### Print the number pattern

In [3]:
for i in range(1, 6):
    for j in range(1, i+1):
        print(i, end=" ")
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

### Find the sum of digits of a given number

In [5]:
n =12345
s = 0

str_n = str(n)
for var in str_n:
    s = s + int(var)
print(s)

15

In [1]:
def average(a, b, c):
    return (a + b + c) / 3

average(10,20,30)

20.0

### Write a function to find the sum of first n natural numbers

In [2]:
def sum(n):
    s = 0
    for i in range(1, n+1):
        s += i    
    return s

sum(10)

55

### use of *args in a function

In [10]:
def myFunc(*args):
    print(args)
    print(type(args))
    
myFunc(1, 2, 3)

(1, 2, 3)
<class 'tuple'>

### calculate average using *args

In [12]:
def average(*args):
    s = 0
    for num in args:
        s += num
    return s/len(args)    
        
average(1, 2, 3,4,5,6,7)

4.0

### use of **kwargs in a function

In [13]:
def myFunction(**kwargs):
    print(kwargs)
    print(type(kwargs))
    
myFunction(a=10, b=20)

{'a': 10, 'b': 20}
<class 'dict'>

### to find the sum of values using **kwargs

In [14]:
def myFunction(**kwargs):
    s = 0
    for key in kwargs.keys():
        s += kwargs[key]
    return s
myFunction(a=10, b=20)

30

### Use both *args and **kwargs in a function

In [15]:
def anotherFunc(*args, **kwargs):
    print(args)
    print(kwargs)

anotherFunc(1,2,3, a = 10, b=20)

(1, 2, 3)
{'a': 10, 'b': 20}

In [17]:
def cal(a, b):
    s = a + b
    d = a - b
    p = a * b
    q = a / b
    return s, d, p, q


result = cal(10, 2)
print(result)
print(type(result))

(12, 8, 20, 5.0)
<class 'tuple'>

### default arguments in a function

In [18]:
def add(a=10, b=20):
    return a+b

print(add())
print(add(100, 200))

30
300

### OOP concept class and objects

In [23]:
class Animal:
    def __init__(self, name):
        self.name = name
        
    def __str__(self):
        return f'Animal name is {self.name}'  
    
    def __repr__(self):
        return f'Animal : {self.name}'   
        
    def sayHello(self):
        print(f'{self.name} says HEllo !')    
        
a1 = Animal("Tommy")
print(a1)
a1
a1.sayHello()

Animal name is Tommy
Tommy says HEllo !

### operator overloading in a class

In [24]:
class Point:
    def __init__(self,xx,yy):
        self.x = xx
        self.y = yy 

    def __str__ (self):
        return f'({self.x}, {self.y})'
    
    def __add__(self,other):
        new_x = self.x + other.x
        new_y = self.y + other.y
        return Point(new_x, new_y)
    
p1 = Point(1,2)
p2 = Point(2,1)
p3 = p1+p2 # p1.__add__(p2)
print(p3)

(3, 3)

### WAP to create a class named Distance which has feet and inches as data member. Overload any two operators

In [28]:
class Distance:
    def __init__(self, feet=0, inch=0):
        self.feet = feet
        self.inch = inch
        self.normalize()
    
    def normalize(self):
        if self.inch >=12:
            self.feet += self.inch // 12
            self.inch = self.inch % 12
              
    def __str__(self):
        return f'{self.feet} feet {self.inch} inch'
    
    def __add__(self,other):
        f = self.feet + other.feet
        i = self.inch + other.inch
        return Distance(f, i)
    
d1 = Distance(5, 8)
d2 = Distance(3, 9)
d3 = d1 + d2 
print("total distance :" , d3)

total distance : 9 feet 5 inch

In [1]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\acer\appdata\roaming\python\python313\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\acer\appdata\roaming\python\python313\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\acer\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\acer\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\acer\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\acer\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip